body {
    background-color: #fff;;
}

body > .grid {
    height: 100%;
}

.site-mini-font {
    color: #666 !important;
    font-size: 13px !important;
}

.site-tiny-font {
    color: #666 !important;
    font-size: 9px !important;
    margin-top: 2px !important;
}

/* fixed */
.ui.secondary.inverted.menu a.item {
    color: rgba(255, 255, 255, 1) !important;
}