<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--

    Article Mapper

-->

<mapper namespace="sun.focusblog.admin.domain.Article">

    <!-- Article Domain Mapping -->
    <resultMap id="articleResultMapper" type="sun.focusblog.admin.domain.Article">
        <result property="id" column="id" javaType="String" jdbcType="VARCHAR"/>
        <result property="userId" column="user_id" javaType="String" jdbcType="VARCHAR"/>
        <result property="categoryId" column="category_id" javaType="int" jdbcType="INTEGER"/>
        <result property="categoryName" column="category_name" javaType="String" jdbcType="VARCHAR"/>
        <result property="title" column="title" javaType="String" jdbcType="VARCHAR"/>
        <result property="type" column="type" javaType="String" jdbcType="VARCHAR"/>
        <result property="content" column="content" javaType="String" jdbcType="VARCHAR"/>
        <result property="tags" column="tags" javaType="String" jdbcType="VARCHAR"/>
        <result property="reference" column="reference" javaType="String" jdbcType="VARCHAR"/>
        <result property="digest" column="digest" javaType="String" jdbcType="VARCHAR"/>
        <result property="isHide" column="is_hide" javaType="Boolean" jdbcType="BIT"/>
        <result property="allowComment" column="allow_comment" javaType="Boolean" jdbcType="BIT"/>
        <result property="autoIndex" column="auto_index" javaType="Boolean" jdbcType="BIT"/>
        <result property="isTop" column="is_top" javaType="Boolean" jdbcType="BIT"/>
        <result property="createDate" column="create_date" javaType="Date" jdbcType="TIMESTAMP"/>
        <result property="updateDate" column="update_date" javaType="Date" jdbcType="TIMESTAMP"/>
        <result property="pageView" column="page_view" javaType="long" jdbcType="INTEGER"/>
        <result property="order" column="article_order" javaType="int" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="fields">
    <![CDATA[
        id,
        user_id,
        category_id,
        title,
        type,
        content,
        tags,
        reference,
        digest,
        is_hide,
        allow_comment,
        auto_index,
        is_top,
        create_date,
        update_date,
        page_view,
        article_order
      ]]>
    </sql>


    <!-- Save Article -->
    <insert id="save" parameterType="sun.focusblog.admin.domain.Article">
        INSERT INTO articles (
            <include refid="fields"/>
        )
        VALUES
            (
                #{id},
                #{userId},
                #{categoryId},
                #{title},
                #{type},
                #{content},
                #{tags},
                #{reference},
                #{digest},
                #{isHide},
                #{allowComment},
                #{autoIndex},
                #{isTop},
                #{createDate},
                #{updateDate},
                #{pageView},
                #{order}
            );
    </insert>

    <select id="query" parameterType="String" resultMap="articleResultMapper">
        SELECT <include refid="fields"/> FROM articles WHERE id=#{id}
    </select>

    <select id="listOrderByDate" parameterType="String" resultMap="articleResultMapper">
        <![CDATA[
        SELECT
            a.id,
            a.user_id,
            a.category_id,
            c.category_name,
            a.title,
            a.type,
            a.content,
            a.tags,
            a.reference,
            a.digest,
            a.is_hide,
            a.allow_comment,
            a.auto_index,
            a.is_top,
            a.create_date,
            a.update_date,
            a.page_view,
            a.article_order
        FROM
            articles a,
            category c
        WHERE
            a.category_id = c.category_id
        AND a.user_id = #{userId}
        ORDER BY
            a.is_top DESC,
            a.update_date DESC
        ]]>
    </select>

    <!-- Count all -->
    <select id="countAll" parameterType="String" resultType="int">
        SELECT
            count(*)
        FROM
            articles
        WHERE
            user_id = #{userId}
    </select>

    <!-- Update article fields -->
    <update id="update" parameterType="sun.focusblog.admin.domain.Article">
        UPDATE articles
        SET category_id = #{categoryId},
        title = #{title},
        type= #{type},
        content = #{content},
        tags = #{tags},
        reference = #{reference},
        digest = #{digest},
        is_hide = #{isHide},
        allow_comment = #{allowComment},
        auto_index = #{autoIndex},
        is_top = #{isTop},
        update_date = #{updateDate}
        WHERE
            id = #{id}
    </update>
</mapper>