<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--

    Category Mapper

-->

<mapper namespace="sun.focusblog.admin.domain.Category">

    <!-- Category Domain Mapping -->
    <resultMap id="categoryResultMapper" type="sun.focusblog.admin.domain.Category">
        <result property="id" column="category_id" javaType="int" jdbcType="INTEGER"/>
        <result property="userId" column="user_id" javaType="String" jdbcType="VARCHAR"/>
        <result property="name" column="category_name" javaType="String" jdbcType="VARCHAR"/>
        <result property="order" column="category_order" javaType="int" jdbcType="INTEGER"/>
        <result property="status" column="status" javaType="int" jdbcType="INTEGER"/>
        <result property="createDate" column="create_date" javaType="Date" jdbcType="TIMESTAMP"/>
        <result property="articleCount" column="article_count" javaType="int" jdbcType="INTEGER"/>
    </resultMap>


    <!-- Save Category -->
    <select id="save" parameterType="sun.focusblog.admin.domain.Category">
        INSERT INTO category (
            category_id,
            user_id,
            category_name,
            category_order,
            STATUS,
            create_date
        )
        VALUES
            (
                NULL,
                #{userId},
                #{name},
                NULL,
                #{status},
                #{createDate}
            );
    </select>

    <!-- Query Category -->
    <select id="query" parameterType="String" resultMap="categoryResultMapper">
        SELECT
            c.category_id,
            c.category_name,
            c.category_order,
            c. STATUS,
            c.create_date,
            sum(a.category_id) AS article_count
        FROM
            category c
        LEFT JOIN articles a ON c.category_id = a.category_id
        where c.user_id= #{userId}
        GROUP BY
            c.category_name
        ORDER BY
            c.category_order ASC
    </select>

    <update id="update" parameterType="sun.focusblog.admin.domain.Category">
        UPDATE category
        SET create_date = sysdate()
        <if test="name != null">
            ,category_name = #{name}
        </if>
        <if test="order != 0">
            , category_order = #{order}
        </if>
        <if test="status != 0">
            , status = #{status}
        </if>
        WHERE
            category_id = #{id}
    </update>

    <delete id="delete" parameterType="int">
        DELETE
        FROM
            category
        WHERE
            category_id = #{id}
    </delete>

</mapper>