<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--

    Category Mapper

-->

<mapper namespace="sun.focusblog.admin.domain.Comment">

    <!-- Comments Domain Mapping -->
    <resultMap id="commentsResultMapper" type="sun.focusblog.admin.domain.Comment">
        <result property="id" column="id" javaType="String" jdbcType="VARCHAR"/>
        <result property="parent.id" column="parent_id" javaType="String" jdbcType="VARCHAR"/>
        <result property="articleId" column="article_id" javaType="String" jdbcType="VARCHAR"/>
        <result property="content" column="content" javaType="String" jdbcType="VARCHAR"/>
        <result property="date" column="date" javaType="Date" jdbcType="TIMESTAMP"/>
        <result property="user.userId" column="user_id" javaType="String" jdbcType="VARCHAR"/>
        <result property="user.userName" column="user_name" javaType="String" jdbcType="VARCHAR"/>
        <result property="user.header" column="header" javaType="String" jdbcType="VARCHAR"/>
        <result property="comments" column="comments" javaType="java.util.List"
                typeHandler="sun.focusblog.admin.handler.CommentsTypeHandler" jdbcType="VARCHAR"/>
    </resultMap>

    <!-- Query Comments -->
    <select id="list" parameterType="String" resultMap="commentsResultMapper">
        SELECT
            c.id,
            c.parent_id,
            c.article_id,
            u.user_id,
            u.header,
            u.user_name,
            c.content,
            c.comments,
            c.date
        FROM
            article_comment c,
            USER u
        WHERE
            c.user_id = u.user_id
        AND c.article_id = #{articleId}
        ORDER BY
            c.date DESC
    </select>

    <!-- Delete comments by comment id -->
    <delete id="delete" parameterType="String">
        DELETE
        FROM
            article_comment
        WHERE
            id = #{id}
    </delete>

    <select id="query" parameterType="String" resultMap="commentsResultMapper">
        SELECT
            c.id,
            c.parent_id,
            c.article_id,
            u.user_id,
            u.header,
            u.user_name,
            c.content,
            c.comments,
            c.date
        FROM
            article_comment c,
            USER u
        WHERE
            c.user_id = u.user_id
        AND c.id = #{id}
    </select>

    <select id="count" parameterType="String" resultType="int">
        SELECT
            count(*)
        FROM
            article_comment c
        WHERE
            article_id = #{aritcleId}
    </select>


    <insert id="save" parameterType="sun.focusblog.admin.domain.Comment">
        INSERT INTO article_comment (
            id,
            parent_id,
            article_id,
            user_id,
            content,
            date,
            comments
        )
        VALUES
            (
                #{id},
                #{parent.id},
                #{articleId},
                #{user.userId},
                #{content},
                #{date},
                #{comments}
            )
    </insert>

    <update id="update" parameterType="sun.focusblog.admin.domain.Comment">
        update article_comment
        set comments=#{comments}
        where id=#{id}
    </update>

</mapper>