<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--

    This User Mapper Hold the user's information and function list.

-->

<mapper namespace="sun.focusblog.admin.domain.auth.User">
    <!-- User Domain Mapping -->
    <resultMap id="userResultMapper" type="sun.focusblog.admin.domain.auth.User">
        <result property="userId" column="user_id" javaType="String" jdbcType="VARCHAR"/>
        <result property="userName" column="user_name" javaType="String" jdbcType="VARCHAR"/>
        <result property="password" column="user_pwd" javaType="String" jdbcType="VARCHAR"/>
        <result property="status" column="status" javaType="int" jdbcType="INTEGER"/>
        <result property="email" column="email" javaType="String" jdbcType="VARCHAR"/>
        <result property="header" column="header" javaType="String" jdbcType="VARCHAR"/>
        <result property="createDate" column="create_date" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
        <collection property="functions" column="user_id" ofType="sun.focusblog.admin.domain.auth.Function"
                    select="functionSelect"/>
        <collection property="roles" column="user_id" ofType="sun.focusblog.admin.domain.auth.Role"
                    select="roleSelect"/>
    </resultMap>

    <!-- Function Domain Mapping -->
    <resultMap id="functionResultMapper" type="sun.focusblog.admin.domain.auth.Function">
        <result property="functionId" column="function_id" javaType="int" jdbcType="INTEGER"/>
        <result property="functionName" column="function_name" javaType="String" jdbcType="VARCHAR"/>
        <result property="userId" column="user_id" javaType="String" jdbcType="VARCHAR"/>
        <collection property="functions" ofType="sun.focusblog.admin.domain.auth.Function"
                    column="{functionId=function_id,userId=user_id}" select="subFunctionSelect"/>
    </resultMap>

    <!-- Role Domain Mapping -->
    <resultMap id="roleResultMapper" type="sun.focusblog.admin.domain.auth.Role">
        <result property="roleId" column="role_id" javaType="int" jdbcType="INTEGER"/>
        <result property="roleName" column="role_name" javaType="String" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="functionSelect" resultMap="functionResultMapper">
        SELECT
            f.function_id,
            f.function_name,
            u.user_id
        FROM
            user u,
            function f,
            roles r,
            user_roles ur,
            function_roles fr
        WHERE
            u.user_id = ur.user_id
        AND ur.role_id = r.role_id
        AND ur.role_id = fr.role_id
        AND fr.function_id = f.function_id
        AND u.user_id=#{userId,jdbcType=VARCHAR}
        GROUP BY
            f.function_id,
            f.function_name,
            u.user_id
    </select>

    <select id="subFunctionSelect" resultMap="functionResultMapper">
        SELECT
            f.function_id,
            f.function_name,
            u.user_id
        FROM
            user u,
            function f,
            roles r,
            user_roles ur,
            function_roles fr
        WHERE
            u.user_id = ur.user_id
        AND ur.role_id = r.role_id
        AND ur.role_id = fr.role_id
        AND fr.function_id = f.function_id
        AND u.user_id = #{userId,jdbcType=VARCHAR}
        AND f.parent_id = #{functionId,jdbcType=INTEGER}
        GROUP BY
            f.function_id,
            f.function_name,
            u.user_id
    </select>

    <select id="roleSelect" resultMap="roleResultMapper">
        SELECT
            r.role_id,
            r.role_name
        FROM
            user_roles ur,
            roles r
        WHERE
            ur.role_id = r.role_id
        AND user_id =  #{userId,jdbcType=VARCHAR}
    </select>

    <!-- Query user by username and password -->
    <select id="query" resultMap="userResultMapper">
        SELECT
            u.user_id,
            u.user_name,
            u.user_pwd,
            u.create_date,
            u.status,
            u.header,
            u.email
        FROM
            user u
        WHERE
            u.user_id = #{userId,jdbcType=VARCHAR}
    </select>

    <insert id="persistUser" parameterType="sun.focusblog.admin.domain.auth.User">
      INSERT INTO user (
        user_id,
        user_name,
        user_pwd,
        email,
        status,
        create_date
        )
        VALUES
            (
                #{userId},#{userName},#{password},#{email},#{status},#{createDate}
            );
    </insert>
    <insert id="persistUserRole" parameterType="map">
        INSERT INTO user_roles (user_id, role_id)
        VALUES
            (#{userId},#{roleId});
    </insert>

    <update id="updateHeader" parameterType="sun.focusblog.admin.domain.auth.User">
        UPDATE user
        SET header = #{header}
        WHERE
            user_id = #{userId}
    </update>

    <update id="updateEmail" parameterType="sun.focusblog.admin.domain.auth.User">
        UPDATE user
        SET email = #{email}
        WHERE
        user_id = #{userId}
    </update>

</mapper>